@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@font-face {
font-family: Steady;
src: url("../fonts/Steady.otf") format("opentype");
}
html {
    color: #777;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.5;
}
header,
section,
footer,
aside, 
nav,
main,
article,
figure {
    display: block;
}
body,
hr{
	margin:0;
	padding:0;
	margin: auto;
}
section article, 
footer article{
	margin-bottom:12px;
}
input[type=button],
input[type=submit]{
	color: #14396A !important;
	font-family: "Montserrat";
	font-size:16px;
	text-shadow: 1px 1px 0px #7CACDE;
	margin-right:2px;
	padding: 4px 9px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 2px solid #3866A3;
	background: #13EDED;
	background: linear-gradient(top,  #13EDED,  #4082BF);
	background: -ms-linear-gradient(top,  #13EDED,  #4082BF);
	background: -webkit-gradient(linear, left top, left bottom, from(#13EDED), to(#4082BF));
	background: -moz-linear-gradient(top,  #13EDED,  #4082BF);
	cursor:pointer;
}
input[type=button]:hover,
input[type=submit]:hover{
	color: #14396A !important;
	background: #4082BF;
	background: linear-gradient(top,  #4082BF,  #13EDED);
	background: -ms-linear-gradient(top,  #4082BF,  #13EDED);
	background: -webkit-gradient(linear, left top, left bottom, from(#4082BF), to(#13EDED));
	background: -moz-linear-gradient(top,  #4082BF,  #13EDED);
	cursor:pointer;
}
hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    clear: right;
}
overlay-login{
	display:none;
}
.browserupgrade {
    margin: 3px 0;
    background: #ccc;
    color: #000;
    padding: 3px 0;
    font-size:32px;
}
#usrname{
    float:left;
    padding-right:10px;
    font-family: "Montserrat";
}
.auth{
	float:right;
	padding:8px 45px 8px 8px;
}
#lgot-btn{
	float:left;
	display:none;
}
section, 
footer{
	clear:both;
	display:table;
	width:100%;
}
.sec1 article,
.sec3 article, 
footer article{
	float: left !important;
}
.sec2 article,
.sec4 article{
	float: right !important;
}
.sec2,
.sec3,
.sec4{
	margin-top:20px;
}
.art-img{
	width:60%;
	max-height:inherit;
}
.art-img img{
	max-height:inherit;
	width:100%;
}

.art-quote{
	width:40%;
}

.foot-quote{
	width:50%;
}
.sec1 .art-quote div{
	margin: 5% 1% 1% 8%;
}
.sec2 .art-quote div, 
.sec3 .art-quote div,
.sec4 .art-quote div, 
.foot-quote div, 
.contact-form div{
	--align-self: center;
	margin:0% 8%;
}
.foot-quote div{
	width:60%;
}
.main-title{
	font-size: 90px;
	font-family: "Steady";
}
.title{
	font-size: 50px;
	font-family: "Steady";
	margin:3px 0 0 0;
}
.main-title, .title, .sub-title{
	color: #0E6CC4;
	line-height: 1;
	word-wrap: break-word;
}
.title-quote{
	font-size: 20px;
	float: right;
}
.sub-title{
	font-size: 38px;
	font-weight:300;
	font-family: "Source Sans Pro";
}
.quote,.sub-quote{
	color: #888;
	line-height: 1.2;
	word-wrap: break-word;
}
.quote{
	font-size: 30px;
	--font-weight:bold;
	font-family: "Source Sans Pro";
}
#btn-txt{
	font-size: 20px;
	--font-family: "Source Sans Pro";
}
.quote p{
	margin: 0;
	padding:0;
	width: 100%;
	text-align:center;
}
.sub-quote{
	font-size: 20px;
	font-family: "Montserrat";
}
.art-quote div input, .art-quote div  textarea{
	margin-top:25px;
}
.art-quote  textarea{
	width:100%;
	height:100px;
	resize:none;
	font-size: 20px;
	font-family: "Montserrat";
}
footer{
	background-image: url("../imgs/bg-contact.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}
.contact-form{
	float: left;
	width:50%;
	height:inherit;
}
.contact-form input[type="text"]{
	width:100%;
	height:50px;
}
.contact-form textarea{
     width:99%;
	 resize:none;
}
.contact-form input[type="text"], .contact-form textarea{
	margin:0;
	padding:0;
	line-height:1.5;
	font-size:16px;
	background:transparent;
	border-bottom: 1px solid;
	border-left-style:none;
	border-right-style:none;
	border-top:none;
}
.contact-form textarea{
	height: 12em;
}
/* input[type="submit"]{
	background:transparent;
	border:none;
	color: #0E6CC4;
	font-size:20px;
	float:right;
} */
input[type="submit"]{
	float:right;
}
input::-webkit-input-placeholder {
   font-size:20px;
   font-family: "Montserrat";
}
input:-moz-placeholder { /* Firefox 18- */
   font-size:20px;
   font-family: "Montserrat";
}
input::-moz-placeholder {  /* Firefox 19+ */
	font-size:20px;
	font-family: "Montserrat";
}
input:-ms-input-placeholder {  
   font-size:16px;
   font-family: "Montserrat";
}
textarea::-webkit-input-placeholder {
   font-size:16px;
   --font-family: "Montserrat";
   font-family: "Source Sans Pro";
}
textarea:-moz-placeholder { /* Firefox 18- */
   font-size:16px;
   font-family: "Source Sans Pro";
}
textarea::-moz-placeholder {  /* Firefox 19+ */
	font-size:16px;
	font-family: "Source Sans Pro";
}
textarea:-ms-input-placeholder {  
   font-size:16px;
  font-family: "Source Sans Pro";
}


.contact-form textarea::-webkit-input-placeholder {
   padding-top:150px;
   font-size:20px;
   font-family: "Montserrat";
}
.contact-form textarea:-moz-placeholder { /* Firefox 18- */
   padding-top:150px;
   font-size:20px;
   font-family: "Montserrat";
}
.contact-form textarea::-moz-placeholder {  /* Firefox 19+ */
	padding-top:150px;
   font-size:20px;
   font-family: "Montserrat";
}
.contact-form textarea:-ms-input-placeholder {  
   padding-top:150px;
   font-size:20px;
   font-family: "Montserrat";
}

.privacy-pol{
	clear:both;
	width:100%;
}
.privacy-pol span{
	float:left;
	padding-left:30px;
	font-size: 40px;
	font-weight:bold;
	font-style: italic;
	font-family: "Source Sans Pro lighter";
	color:#000;
}
.privacy-pol ul{
	float:right;
	list-style-type: none;
    padding: 0;
}
.privacy-pol ul li{
	height:inhert;
	padding:20px;
	display:inline;
} 
