@media screen and (min-height: 900px) {
	.sub-quote{
		line-height:1.5;
	}
	article{
		display: -webkit-flex;
		display:flex;
		align-items:center;
	}
	#section1 .desc-article div{
		margin: -13% 0 0 15%;
	}
}
@media screen and (min-width: 650px) {
	input[type=button],
	input[type=submit]{
		font-size:calc(0.5vw + 1.5vh);
	}
	.desc-article{
		width: 40%;
	}
	.img-article {
		width: 59%;
	}
	#section2 .img-article img{
		width:95%;
	}
	footer .foot-desc{
		width: 49%;
		height: 92%;
	}
	footer .contact-form{
		width: 49%;
		height: 92%;
	}
}


@media screen and (max-width: 649px) {
	article{
		display: -webkit-flex;
		display:flex;
		align-items:center;
	}
	#section1 .desc-article div{
		margin: -13% 0 0 15%;
	}
	input[type=button],
	input[type=submit]{
		font-size:calc(0.5vw + 1.5vh);
	}
	.desc-article{
		width: 85%;
	}
	.img-article {
		width: 85%;
	}

	footer .foot-desc{
		width: 99%;
		height: 99%;
	}
	footer .contact-form{
		width: 99%;
		height: 99%;
	}
}
