@media screen and (min-height: 900px) {
	.sub-quote{
		line-height:1.5;
	}
	article{
		display: -webkit-flex;
		display:flex;
		align-items:center;
	}
	#section1 .desc-article div{
		margin: -13% 0 0 15%;
	}
}
@media screen and (min-width: 650px) {
	input[type=button],
	input[type=submit]{
		font-size:calc(0.5vw + 1.5vh);
	}
	.desc-article{
		width: 40%;
	}
	.img-article {
		width: 59%;
	}
	#section2 .img-article img{
		width:86%;
		padding:0 7% 0 7%;
	}
	footer .foot-desc{
		width: 49%;
		height: 92%;
	}
	footer .contact-form{
		width: 49%;
		height: 92%;
	}
	.foot-title{
		float:left;
		padding-left:1%;
	}
	.foot-menu{
		float:right;
	}
}


@media screen and (max-width: 560px) {
	p{
		margin:5px 0 5px 0;
	}
	section article{
		height:50%;
	}
	#section3 .desc-article{
		height:52% !important;
	}
	#section3 .img-article{
		height:48% !important;
	}
	article{
		display: -webkit-flex;
		display:flex;
		align-items:center;
	}
	#section1 .desc-article div,
	#section3 .desc-article div,
	.contact-form div{
		margin: 0 0 0 5%;
	}
	#section2 .desc-article div,
	#section4 .desc-article div{
		margin: 0 0 0 5%;
	}
	.desc-article div,
	.foot-desc div,
	.contact-form div{
		width: 90%;
	}
	section article div,
	.img-article img{
		width:100%;
	}
	.img-article div{
		height:100%;
	}
	.img-article img{
		height:99%;
	}
	#section2 .img-article img{
		width:86%;
		padding:0 7% 0 7%;
	}
	.desc-article div textarea{
		height:8vh;
	}
	.contact-form input[type="text"], .contact-form textarea{
		line-height:1;
	}
	.contact-form input[type="text"]{
		height:6vh;
	}
	.contact-form textarea{
		height: 15vh;
	}
	input[type=button],
	input[type=submit]{
		font-size:calc(0.5vw + 1.5vh);
	}
	.desc-article{
		width: 100%;
	}
	.img-article {
		width: 100%;
	}
	footer .foot-desc{
		width: 99%;
		height:44%;
	}
	footer .contact-form{
		width: 99%;
		height:44%;
	}
	.privacy-pol{
		height:12%;
	    text-align:center;
	}
	.foot-menu li{
		padding:0 10px 0 10px;
	}
	.foot-title{
		float:none;
	}
	.foot-menu{
		padding:0;
		margin:0;
		float:none;
	}
}
