<div class="row well">
<div class="container col-md-6">
	<div class="panel panel-info">
	<ul class="list-unstyled">
		<li ng-repeat="task in tasks"><p class="container task-text"><i ng-if="!task.status" class="fa fa-exclamation text-mute"></i>
			<i ng-if="task.status" class="fa fa-check text-success"></i>{{task.text}}</p></li>
	</ul>
	</div>
	<!-- <div class="panel panel-primary">
	<ul class="list-unstyled">
		<li ng-repeat="task in donetasks"><p class="container text-success">
			<i ng-if="task.status" class="fa fa-check "></i>{{task.text}}</p></li>
	</ul>
	</div> -->
</div>
<div class="container col-md-5">
<div id="login">
	<img id="Image-Maps-Com-image-maps-2016-01-16-232944" src="images/Andriod_app/Screens/placesdetail.jpg" class="img-responsive img-screen" usemap="#placesmap" alt="" />
<map name="placesmap" id="ImageMapsCom-image-maps-2016-01-17-040349">
<area  alt="" title="List View" ng-click="done($event)" id="1" shape="rect" coords="618,32,676,90" style="outline:none;" target="_self"     />
<area  alt="" title="Search" shape="rect" coords="122,36,601,94" style="outline:none;" target="_self"     />
<area  alt="" title="Sidebar" shape="rect" coords="41,32,102,90" style="outline:none;" target="_self"     />
<area  alt="" title="Pointer" shape="rect" coords="328,443,412,530" style="outline:none;" target="_self"     />
<area  alt="" title="wishlist" shape="rect" coords="37,117,207,174" style="outline:none;" target="_self"     />
<area  alt="" title="Visited" shape="rect" coords="530,114,700,171" style="outline:none;" target="_self"     />
<area  alt="" title="Recommended" shape="rect" coords="257,120,494,177" style="outline:none;" target="_self"     />
<area  alt="" title="Place Details" ng-click="done($event)" id="0" shape="rect" coords="74,773,642,1142" style="outline:none;" target="_self"     />
<area  alt="" title="Plus Icon" href="" shape="rect" coords="547,1164,626,1227" style="outline:none;" target="_self"     />
<area  alt="" title="Faces" href="/#faces" shape="rect" coords="100,1156,391,1230" style="outline:none;" target="_self"     />
</map>
</div>
</div>
</div>
        <script>
    $(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
});
</script>