<div class="row well">
<div class="container col-md-5">
	<div class="panel panel-info">
	<ul class="list-unstyled">
		<li ng-repeat="task in tasks"><p class="container"><i ng-if="!task.status" class="fa fa-exclamation text-mute"></i>
			<i ng-if="task.status" class="fa fa-check text-success"></i>{{task.text}}</p></li>
	</ul>
	</div>
	<!-- <div class="panel panel-primary">
	<ul class="list-unstyled">
		<li ng-repeat="task in donetasks"><p class="container text-success">
			<i ng-if="task.status" class="fa fa-check "></i>{{task.text}}</p></li>
	</ul>
	</div> -->
</div>
<div class="container col-md-6">
<div id="login">
	<img id="Image-Maps-Com-image-maps-2016-01-16-232944" src="images/Andriod_app/Screens/tip.jpg" class="img-responsive" usemap="#tip" alt="" />
<map name="tip" id="ImageMapsCom-image-maps-2016-01-17-053921">
<area  alt="" title="Write here" shape="rect" coords="16,485,684,730" style="outline:none;" target="_self"     />
<area  alt="" title="Add Tip" ng-click="done($event)" id="0" shape="rect" coords="528,746,680,803" style="outline:none;" target="_self"     />
<area  alt="" title="Close" href="" shape="rect" coords="25,29,77,85" style="outline:none;" target="_self"     />
<area  alt="" title="Add Tip" ng-click="done($event)" id="0" shape="rect" coords="630,1181,703,1256" style="outline:none;" target="_self"     />
<area shape="rect" coords="718,1278,720,1280" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
</map>
</div>
</div>
</div>
        <script>
    $(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
});
</script>