<div class="jumbotron vcenter">
<div class="container">
<p class="info">
Hi Visitor,
Upcoming screens will have a Task and a mobile view of Locaholic app.
After you complete the task you'll be taken to the next screen, your session will be recorded and analaysed to evalute the usability of our designs.

Chose your Platform to proceed. 
</p>
<div class="container center-block">
<a href="#android"><button class="btn btn-lg btn-default"><img src="images/android.png" class="img-responsive"/>Android</button></a>
<a href="#ios"><button class="btn btn-lg btn-default"><img src="images/ios.png" class="img-responsive"/>iOS</button></a>
</div>
</div>
</div>
