/* app css stylesheet */

 html, body, #map_canvas {
            height: 100%;
            width: 100%;
            margin: 0px;
        }
div{
  border: 2px;
}
.overlay{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
#map_canvas{
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}
.angular-google-map-container {
            height: 100%;
            width: 100%;
            position: absolute;
        }
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
