.vertical-center {
  display: flex !important;
  flex-direction: column;
  height:auto !important;
  /*flex-grow: 1;*/
  vertical-align: middle;
  /*text-align: center;*/

  >*{
    align-self:center;
    text-align: center;
  }
}
.flex-row{
  display:flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction:row;
  flex-grow: 1;
  flex-wrap:wrap;
  justify-content: space-between;
}
.flex-row > div{
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-grow: 1;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}
